*
!package.json
!tsconfig-commonjs.json
!tsconfig-esm.json
!tsconfig.json
!lib
!lib/*
!local-types/
!local-types/*
!.npmignore
!pnpm-lock.yaml
!__tests__
!*.js
!CHANGELOG.md
!.babelrc
!tests-browser/
!tests-browser/**/*
!tests-browser/node_modules